:root{
  --bgColor : hsla(242, 86%, 6%, 1);
  --bgColorLight : hsla(242, 86%, 24%, 1); /*now disabled background*/
  --textColor : hsla(242, 86%, 88%, 1); /*text color*/
  --textColorDark : hsla(242, 36%, 0%, 1); /*text color on hover*/
}

::selected{
  color: var(--textColorDark);
}

html, body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  /*background: var(--bgColor);
  background: linear-gradient(135deg, var(--bgColor), var(--bgColorLight));*/
  color: var(--textColor);
  /*font-family: 'Saira', sans-serif;*/
  position: relative;
}

*{
  box-sizing: border-box;
  transition: all 0.12s cubic-bezier(0.42, 0.54, 0.22, 1.26);
}

#canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

audio {
  position: fixed;
  left: 10px;
  bottom: -10px;
  width: calc(100% - 20px);
}

audio.active{
  bottom: 10px;
}

/*Idle, load, and talk animation
#loadingCircle{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px; /* Half the height 
  margin-left: -50px; /* Half the width 
  background-color: #11e926;
  border-radius: 50%;
}

@keyframes breathe {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
@keyframes talk {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
.idle {
  animation: breathe 2s infinite;
}
.loading {
  animation: pulse 1s infinite;
}
.talking {
  animation: talk 0.5s infinite;
}
*/